html, body { 
    margin: 0; padding: 0; overflow: hidden; background: #333;
}

.positioned {
    display: block; 
    position: absolute; 
    top: 0; left: 0;
}

.fullscreen {
    width: 100%; height: 100%;
}

.ui-minimap {
    width: 250px; height: 275px;
    right: 0; left: auto;
    background: rgba(0,0,0,.25);
    z-index: 1000;
    overflow: hidden;
}

.ui-minimap canvas {
    display: block; 
    position: absolute; 
}

.ui-stage canvas {
    display: block; 
    position: absolute; 
    top: 0; left: 0;
    border: 1px solid #999;
}

.ui-title {
    width: 100%; 
    display: block;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}

canvas {
    background: transparent;
}

.debug {
    z-index: 9999;
}

.debug-layers {
    display: block;
    width: 500px; height: 500px;
    position: absolute;
    top: 0; left: 0;
    border: 1px solid green;
    overflow-y: scroll;
    display: none;
}
.debug-layers canvas {
    border: 1px solid red;
    width: 230px; height: 230px;
}

.ui-window {
    display: none;
    border: 1px solid #000;
    background: #333;
    height: 100%;
}

.ui-window-content {
    top: 30px;
}

.ui-window-title {
    background: #000; color: #fff;
    height: 30px; 
    text-align: center;
}

.ui-window-align-right {
    right: 0;
    left: auto;
}

.ui-window-layer-default {
    z-index: 1000;
}

.visible {
    display: block;
}

.ui-statField-balance {
    border: 1px solid #000;
    height: 25px;
    display: block;
}

.ui-statsBar {
    width: 30%; height: 50%;
    padding: 0px;
    border: 1px solid #000;
    float: left;
}

.ui-equipmentScreen {
    width: 69%; height: 50%;
    padding: 0px;
    border: 1px solid #000;
    float: left;
    position: absolute;
    right: 0;
}

.ui-equipmentSlot {
    display: block;
    border: 1px solid #000;
    position: absolute;
}

.ui-equipmentSlot-headPiece {
    width: 50px;
    height: 50px;
    top: 5px; left: 50%;
    margin-left: -25px;
}

.ui-equipmentSlot-belt {
    width: 60px;
    height: 20px;
    top: 150px; left: 50%;
    margin-left: -30px;
}

.ui-equipmentSlot-pants {
    top: 180px; left: 50%;
    margin-left: -25px;
}

.ui-equipmentSlot-boots {
    top: 250px; left: 50%;
    margin-left: -25px;
}

.ui-equipmentSlot-shoulders {
    top: 30px; left: 50%;
    margin-left: -90px;
}

.ui-equipmentSlot-gloves {
    top: 100px; left: 50%;
    margin-left: -110px;
}

.ui-equipmentSlot-ring1 {
    top: 180px; left: 50%;
    margin-left: -100px;
}

.ui-equipmentSlot-ring2 {
    top: 180px; left: 50%;
    margin-left: 70px;
}

.ui-equipmentSlot-mainHand {
    top: 225px; left: 50%;
    margin-left: -110px;
}

.ui-equipmentSlot-bracers {
    top: 100px; left: 50%;
    margin-left: 60px;
}

.ui-equipmentSlot-offhand {
    top: 225px; left: 50%;
    margin-left: 60px;
}

.ui-equipmentSlot-token1 {
    top: 330px; left: 50%;
    margin-left: -70px;
}

.ui-equipmentSlot-token2 {
    top: 330px; left: 50%;
    margin-left: -12.5px;
}

.ui-equipmentSlot-token3 {
    top: 330px; left: 50%;
    margin-left: 50px;
}

.ui-equipmentSlot-shoulders, 
.ui-equipmentSlot-bracers, 
.ui-equipmentSlot-boots, 
.ui-equipmentSlot-pants, 
.ui-equipmentSlot-gloves {
    width: 50px;
    height: 60px;
}

.ui-equipmentSlot-amulet {
    width: 35px;
    height: 35px;
    top: 40px; left: 50%;
    margin-left: 45px;
}

.ui-equipmentSlot-ring1, 
.ui-equipmentSlot-ring2, 
.ui-equipmentSlot-token1, 
.ui-equipmentSlot-token2, 
.ui-equipmentSlot-token3 {
    width: 25px;
    height: 25px;
}

.ui-equipmentSlot-chestPiece {
    width: 60px;
    height: 75px;
    top: 65px; left: 50%;
    margin-left: -30px;
}

.ui-equipmentSlot-mainHand,
.ui-equipmentSlot-offhand, 
.ui-equipmentSlot-alternativeMainHand,
.ui-equipmentSlot-alternativeOffhand {
    width: 50px;
    height: 75px;
}

.ui-equipmentSlot-alternativeMainHand, 
.ui-equipmentSlot-alternativeOffhand {
    display: none;
}

.ui-equipmentScreen.alternative .ui-equipmentSlot-alternativeMainHand, 
.ui-equipmentScreen.alternative .ui-equipmentSlot-alternativeOffhand {
    display: block;
}

.ui-equipment-item {
    border: 2px solid #000;
    width: 100%; height: 100%;
    position: absolute;
}

.item-rank-normal {
    background: rgba(255, 255, 255, 0.75)
}

.item-rank-magic {
    background: dodgerblue;
}

.item-rank-rare {
    background: yellow;
}

.ui-equipment-item img {
    display: block;
    height: 120%; max-width: 120%; max-height: 120%;
    margin: -20% auto;
}

.ui-hand {
    z-index: 4999;
}

.status-bar {
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;
    background: #fff;
    font-size: 12px;
    font-family: 'Courier New';
    padding: 5px;
}

.ui-inventory {
    width: 100%; height: 400px;
    padding: 0px;
    border: 1px solid #000;
    float: left;
    clear: both; 
    top: 50%; 
    position: absolute;
    display: block;
}

.ui-window .tabs {
    border: 1px solid red; 
    display: block; width: 50px; height: auto;
    right: 0; position: absolute; top: 30px;
    background: green;
}

.ui-window .tabs input {
    width: 50px; height: 50px; 
    font-size: 50px; color: #fff;
    background: #000;
    display: block;
}

.ui-window .tabs input.active {
    background: #333;
}


.vendor .ui-inventory {
    top: 30px; height: 800px;
}

.ui-inventory-grid {
    margin: 0 auto; 
    display: block;
    border: 1px solid red;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
    position: absolute;
    overflow: hidden;
}

.ui-inventory-highlight {
    display: none;
    position: absolute;
    outline: 2px solid greenyellow;
}

.ui-inventory-highlight.invalid {
    outline: 2px solid darkred;
}

.ui-inventory-item {
    position: absolute;
}

.ui-inventory-item img {
    width: 100%; max-width: 100%; max-height: 100%;
}

.ui-item-overlay {
    z-index: 5000;
    background: #111;
    padding: 10px; 
    border: 1px solid #ddd;
    color: #eee;
    width: 300px;
}

.ui-item-overlay-title {
    border: 1px solid #eee;
    text-align: center;
    padding: 2px 5px;
}

.ui-item-overlay-mainstats {
    padding: 2px 5px;
    width: 240px; height: 90px;
    float: left;
}

.ui-item-overlay-mainstat {
    clear: both; float: left;
    color: #eee;
    display: block;
    width: 100%;
}

.ui-item-overlay-mainstat strong {
    font-size: 22px;
}

.ui-item-overlay-description {
    text-transform: capitalize;
    float: left;
}

.ui-item-overlay-slot {
    float: right; 
    color: #666;
}

.ui-item-overlay-socket {
    display: block;
    height: 20px; 
    padding-left: 20px; 
}

.ui-item-overlay-affixes {
    clear: both;
    margin-bottom: 10px;
}

.ui-item-overlay-image {
    width: 40px; height: 60px;
    float: left; 
    border: 1px solid #eee; 
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.ui-item-overlay[data-rank=rare] {
    color: yellow;
}

.ui-item-overlay[data-rank=magic] {
    color: dodgerblue;
}

.ui-sockets {
    width: 100%; height: 100%;
    position: absolute; top: 0;
}

.ui-socket {
    border: 1px solid #999;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 50px; height: 50px; 
    display: block;
    margin: 0 auto;
}

.ui-equipment-item .ui-socket {
    width: 25px; height: 25px;
    border-radius: 12.5px;
}

.ui-dropped-item-overlay {
    padding: 2px 5px;
    background: #333;
    color: #eee;
    border: 1px solid #000;
}

.ui-menu {
    display: none;
    width: 100%; height: 100%;
    background: rgba(0,0,0,.75);
    z-index: 9999;
}

.ui-menu.visible {
    display: block;
}

.ui-menu ul {
    position: absolute; top: 50%; left: 50%;
    width: 400px; margin-top: -50px; margin-left: -200px;
    list-style: none;
}

.ui-menu ul li {
    border: 1px solid darkred;
    background: #000;
    color: darkred;
    cursor: pointer;
}
.ui-menu ul li:hover {
    background: #333;
}

.ui-controls {
    width: 600px; height: 100px;
    display: block;
    position: absolute; top: 100%; margin-top: -125px; margin-left: -300px; left: 50%;
}

.ui-globe {
    width: 100px; height: 100px; display: block;
    border-radius: 50px; overflow: hidden; border: 1px solid red;
}

.ui-globe-mana {
    right: 0; left: auto;
    border: 1px solid green;
}

.ui-globe-value {
    width: 100%; display: block;
    text-align: center; font-size: 32px; color: #fff; text-shadow: 1px 1px 1px #000;
    top: 50%; margin-top: -20px; position: absolute;
}

.ui-globe-current {
    position: absolute; display: block; width: 100%; height: 100%; bottom: 0; left: 0;
    background-color: darkred;
}

.ui-globe-mana .ui-globe-current {
    background: lawngreen;
}

.ui-bar {
    width: 400px; height: 20px; border: 1px solid #000; left: 50%; margin-left: -200px;
    position: absolute;
}
.ui-bar-value {
    width: 100%; text-align: center; color: #fff; text-shadow: 1px 1px 1px #000;
}
.ui-bar-current {
    background: darkorange; width: 100%; display: block; height: 100%; top: 0; left: 0; position: absolute;
}